<div class="d-flex align-items-center justify-content-center">
    <div class ="mb-3">
        <h3> Root! </h3>
        <br>
    </div>
    <div class ="mb-3 mx-3 my-3">
        <%= link_to "Contact Tracing" ,landing_path, class: "navbar-brand mx-5"%>  
    </div>
    
<div>