<nav class="bg-light mx-auto py-1">
  <div class ="d-flex align-items-right justify-content-right">
      <% if Current.user %>
          <div class="my-2">
            Logged in as: <%= Current.user.email %>
            <span class="mx-3">
              <%= button_to "Logout", logout_path, method: :delete %>
            </span>
          </div>
      <% end %>     
  </div>
  <div class="d-flex align-items-left justify-content-left">
    <%= link_to "Home" ,root_path, class: "navbar-brand mx-5"%>  
  </div>
</nav>