<nav class="bg-light">
  <div class="d-flex align-items-center justify-content-center">
    <%= link_to "Home" ,root_path, class: "navbar-brand"%>
    <%# <a class="navbar-brand mb-0 h1" href = "/">Navbar</a> %>
  </div>
</nav>